* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .container-main{
        width: 100vw;
        height: 100%;
        /* solo per debug */
        background-color: black;
       
    }

    .header{
        max-width: 100%;
        height: 60px;
        position: relative;
        background: black;
        
        
        
        
        
    }
    .box-img-header{
        background: grey;
        /* solo per debug */
       
        
    }

    .img-header{
        width: 100%;
        height: 10px;
        fill: white;
        
    }

    .row{
        display: flex;
        width: 100vh;
        padding-left: 5.5rem;
        
        
        
    }
    .col{ 
        justify-items: center;
        /* solo per debug */
        width: 100vw;
        padding: 0.5rem;
    }

    .img-col{
        position: relative;
    }
    .microfono{
        position: relative;
        bottom: 0;
        right: 0;

        width: 20px;
        height: 20px;
    }
    .col-small1{
        border: 1px dashed red;
        width:200px;
        
        

    }

    .col-large{
        border: 1px dashed red;
        flex-grow: 2;
        
        
    }

    .col-small2{
        border: 1px dashed red;
        width:100px;
        text-align: center;
        
    }
    .txt-col-sm2{
        padding: 2rem 0rem;
        background: grey;
        color: red;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .row-footer{
        display: flex;
        background-color: grey;
        min-height: 20px;
    }